* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --bg-color: #fff;
  --text-color: #221314;
  --second-color: #5a7184;
  --main-color: #6e54fa;
  --big-font: 6rem;
  --h2-font: 3rem;
  --p-font: 1.1rem;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 8%;
  z-index: 100;
}
.logo {
  font-size: 42px;
  color: #0ca296;
  letter-spacing: 1px;
  font-family: "Satisfy";
}
.navbar {
  display: flex;
  position: relative;
  z-index: 200;
}
.navbar a {
  font-size: 17px;
  padding: 10px 21px;
  margin-left: 5px;
  color: black;
  font-family: "Lato", sans-serif;
}
.navbar a:hover {
  background: var(--bg--color);
  color: var(--text-color);
  box-shadow: 5px 10px 30px rgb(85 85 85 / 20%);
  border-radius: 4px;
}
#menu-icon {
  color: var(--text-color);
  font-size: 35px;
  z-index: 10001;
  cursor: pointer;
  display: none;
}
/* .sticky .logo {
  color: var(--text-color);
} */
.sticky.navbar a {
  color: var(--text-color);
}
header.sticky {
  background: var(--bg--color);
  padding: 30px 8%;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  z-index: 999;
}
.sticky .navbar a {
  color: var(--text-color);
}

/* Home section */

.home {
  padding: 30px 8%;
  position: relative;
  width: 100%;
  height: 100vh;
}

.M-img {
  position: absolute;
  top: 90px;
  left: 0;
  width: 100%;
  height: calc(100% - 80px);
  object-fit: cover;
}

h1 {
  font-size: 130px;
  position: relative;
  color: #ffc700;
  font-family: "Satisfy";
  margin-top: 270px;
}
div a {
  font-size: 250px;
  position: relative;
  color: white;
  line-height: 50px;
}

p {
  margin-left: 5px;
  margin-top: 7px;
  color: #ffff;
  font-size: 20px;
}

.container {
  margin-top: -140px;
  padding: 20px 7%;
  background: linear-gradient(180deg, #00beac 0%, rgba(0, 190, 172, 0) 100%);
}
h3 {
  font-size: 100px;
  position: relative;
  color: #ffc700;
  font-family: "Satisfy";
  padding: 230px 44%;
}
h4 {
  font-size: 100px;
  color: #ffff;
  padding: 30%;
  position: relative;
  margin-top: -50%;
}
.P-text {
  font-size: 20px;
  color: #ffff;
  padding: 30%;
  position: relative;
  margin-top: -57%;
  word-spacing: 6px;
  text-align: center;
  margin-right: 10px;
  line-height: 23px;
  padding-left: 27%;
}

/* Destination */

.destination {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  grid-gap: 2rem;
  align-items: center;
  margin-top: 5rem;
  margin-top: -300px;
}
.content {
  position: relative;
}
.content img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 15px;
  filter: brightness(80%);
  transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  will-change: filter;
}
.content h5 {
  position: absolute;
  font-size: 22px;
  font-weight: 500;
  left: 15px;
  bottom: 60px;
  color: #ffff;
}
.content p {
  position: absolute;
  font-size: 15px;
  left: 15px;
  bottom: 30px;
  letter-spacing: 2px;
}
.content img:hover {
  filter: brightness(100%) hue-rotate(45deg);
  transform: scale(1.04);
  cursor: pointer;
}

/* gallery-section */

.container-D {
  padding: 20px 7%;
  background: #f5fffe;
  margin-top: -150px;
}
.more {
  padding: 220px 41%;
}
.Dn-txt {
  color: #000;
}
.D-text {
  font-size: 20px;
  color: #565656;
  padding: 31%;
  position: relative;
  margin-top: -59%;
  word-spacing: 1px;
  text-align: center;
  margin-right: 10px;
  line-height: 23px;
  padding-left: 27%;
  letter-spacing: 1px;
}
