* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --bg-color: #fff;
  --text-color: #221314;
  --second-color: #5a7184;
  --main-color: #6e54fa;
  --big-font: 6rem;
  --h2-font: 3rem;
  --p-font: 1.1rem;
}
.animate__animated.animate__fadeInLeft {
  --animate-duration: 1.5s;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 8%;
  z-index: 100;
  transition: background 0.3s ease, padding 0.3s ease, box-shadow 0.3s ease;
}

.logo {
  font-size: 41px;
  letter-spacing: 2px;
  font-family: "Cinzel", serif;
}
.S-img {
  width: 35px;
}
.navbar {
  display: flex;
  position: relative;
  z-index: 200;
}
.navbar a {
  font-size: 17px;
  padding: 10px 21px;
  margin-left: 5px;
  font-family: "Lato", sans-serif;
}
.navbar a:hover {
  background: var(--bg--color);
  color: var(--text-color);
  box-shadow: 5px 10px 30px rgb(85 85 85 / 20%);
  border-radius: 4px;
}
#menu-icon {
  color: var(--text-color);
  font-size: 35px;
  z-index: 10001;
  cursor: pointer;
  display: none;
}
.sticky .logo {
  color: var(--text-color);
}
.sticky.navbar a {
  color: var(--text-color);
}
header.sticky {
  background: var(--bg-color);
  padding: 15px 10%;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

.sticky .navbar a {
  color: var(--text-color);
}

/* Home section */

.home {
  padding: 30px 8%;
  position: relative;
  width: 100%;
  height: 100vh;
}

.M-img {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: calc(111% - 80px);
  object-fit: cover;
  filter: brightness(87%);
}
h1 {
  font-size: 100px;
  position: relative;
  color: white;
  font-family: "Noto Serif JP", serif;
  margin-top: 240px;
}

.a-J {
  font-size: 100px;
  position: relative;
  color: white;
  font-family: "Noto Serif JP", serif;
  margin-left: 5px;
}

.container {
  margin-top: -140px;
  padding: 20px 7%;
  background: linear-gradient(180deg, #00beac 0%, rgba(0, 190, 172, 0) 100%);
}

h3 {
  font-size: 100px;
  position: relative;
  color: #ff7f50;
  font-family: "Satisfy";
  padding: 230px 44%;
}
h4 {
  font-size: 100px;
  color: #ffff;
  padding: 30%;
  position: relative;
  margin-top: -50%;
  font-family: "Kite One", sans-serif;
}

.P-text {
  font-size: 20px;
  color: #ffff;
  padding: 30%;
  position: relative;
  margin-top: -57%;
  word-spacing: 6px;
  text-align: center;
  margin-right: 1px;
  line-height: 23px;
  padding-left: 29%;
}
#menu-icon {
  color: var(--bg-color);
  font-size: 35px;
  z-index: 10001;
  cursor: pointer;
  display: none;
}

/* Destination */

.destination {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  grid-gap: 2rem;
  align-items: center;
  margin-top: 5rem;
  margin-top: -300px;
}
.content {
  position: relative;
  margin-bottom: 100px;
}

.content img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 15px;
  filter: brightness(80%);
  transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  will-change: filter;
}

.content h5 {
  position: absolute;
  font-size: 22px;
  font-weight: 500;
  left: 15px;
  bottom: 60px;
  color: #ffff;
}

.content p {
  position: absolute;
  font-size: 15px;
  left: 17px;
  bottom: 30px;
  letter-spacing: 2px;
  color: white;
}

.content img:hover {
  filter: brightness(100%) hue-rotate(18deg);
  transform: scale(1.04);
  cursor: pointer;
}

/* Footer */

.contact {
  background: #003531;
  width: 1519px;
}

a {
  color: white;
}
.main {
  display: flex;
  flex-wrap: wrap;
  margin-top: 32px;
  line-height: 40px;
  margin-left: 30px;
}
h2 {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.footer {
  padding: 20px 0;
}

.list {
  width: 28%;
  margin-left: 70px;
}

.list h2::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 60px;
  left: 0;
  bottom: -10px;
  background-color: #ff7f50;
}
.list h2 {
  font-size: 17px;
  margin-bottom: 30px;
  position: relative;
}
.list ul li a {
  color: #ffffffbf;
  font-size: 15px;
  display: block;
  transition: 0.3s;
}
.list ul li a:hover {
  color: var(--bg-color);
  transform: translateX(14px);
}
.social a {
  height: 35px;
  width: 35px;
  background: var(--bg-color);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 21px;
  border-radius: 13px;
  transition: 0.3;
  margin-right: 10px;
}
.bxl-facebook {
  color: #0e8ef2;
}
.bxl-instagram {
  color: #ff105b;
}
.social {
  margin-top: 20px;
  margin-left: -2px;
}
.social a:hover {
  transform: scale(1.1);
}
.end-text {
  margin-left: -110px;
  margin-top: 80px;
}
.e-text {
  font-size: 15px;
  color: white;
}
.tbc {
  width: 100px;
}
.tbc-img {
  margin-top: 20px;
  margin-left: 70px;
}
html {
  scroll-behavior: smooth;
}

@media (max-width: 1400px) {
  header {
    padding: 17px 3%;
    transition: 0.2s;
  }
  header.sticky {
    padding: 10px 3%;
    transition: 0.2s;
  }
  section {
    padding: 80px 3%;
    transition: 0.2s;
  }
  :root {
    --big-font: 4.5rem;
    --h2-font: 2.3rem;
    --p-font: 1rem;
    transition: 0.2s;
  }
}

@media (max-width: 1040px) {
  #menu-icon {
    display: block;
  }
  .sticky #menu-icon {
    color: var(--text-color);
  }
  .home {
    height: 88vh;
  }
  .navbar {
    position: absolute;
    top: 0;
    right: -100%;
    width: 270px;
    height: 120vh;
    background: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 30px;
    transition: 0.5s all;
  }
  .navbar a {
    display: block;
    margin: 1.2rem 0;
  }
  .sticky .navbar a {
    color: var(--bg-color);
  }
  .navbar a:hover {
    color: var(--text-color);
  }
  .open {
    right: 0;
  }
  .list {
    width: 510%;
    margin-bottom: 12px;
  }
}

@media (max-width: 575px) {
  .list {
    width: 100%;
  }
  :root {
    --big-font: 3.8rem;
    --h2-font: 1.8rem;
    transition: 0.2s;
  }
  .home {
    height: 85vh;
    transition: 0.2s;
  }
}
